# Environnement Python
.venv/
src/__pycache__
src/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
# Notebooks
.ipynb_checkpoints/


# Credentials sensibles
credentials.json
token.pickle
emails.json
token.b64.txt
credentials.b64.txt
suivi-sncf-gsheet.json
gsheet.txt
# Fichiers temporaires / logs
*.log
*.csv
data/
.env

# VSCode / IDE
.vscode/
.idea/

# Dépendances
*.egg-info/
dist/
build/

# Fichiers de Streamlit
.streamlit/config.toml
